*{
  margin: 0%;
  padding: 0%;

}
.users{
  display: grid;
  grid-template-columns: repeat(4,minmax(0,1fr));
  gap: 1rem;
  margin-top: 10px;
}
.user{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: bisque;
  padding: 0.5rem;
  gap: 50px;
}
.btnDelete{
  color: red ;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: none;

 
}
.userReg{
  background-color:darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inputStyle {
 width: 500px;
 margin-bottom: 10px;
 border-radius: 5px;
border: none;
padding: 10px;

}
.btnStyle{
  width: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
 border: none;
 padding: 10px;
 margin-left: 10px;
}
